body, html {
  height: 100%;
  background-color: white;
  /* background-image: url('bsmoke.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
/* Parallax background  */
.parallax {
  /* The image used */
  background-image: url('s.png');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* My personal image */
.parallax2{
  /* The image used */
  background-image: url('image1.jpg');

  /* Full height */
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.parallax3{
  /* The image used */
  background-image: url('coding.png');

  /* Full height */
  height: 20%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax4{
  /* The image used */
  background-image: url('smoke.png');

  /* Full height */
  height: 20%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax5{
  /* The image used */
  background-image: url('bl.png');

  /* Full height */
  height: 20%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.parallax6{
  /* The image used */
  background-image: url('contact.png');

  /* Full height */
  height: 20%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/* Parallax background  */
.parallaxend {
  /* The image used */
  background-image: url('s.png');

  /* Full height */
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
/* Welcome border */
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
}
.caption span.border {
    /* background-color: #111; */
    color: white;
    padding: 20px;
    font-size: 100px;
    letter-spacing: 10px;
    opacity: 0.8;
}
/* For Angel */

.h1Angel {
  font-weight: 100;
  margin: 0.4em 0;
  color: white;
}
.h1Angel { font-size: 3.5em; }
/* row and column about me */

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.columnServices{
  float: right;
  width: 100%;
  /* width: 25%; */
  padding: 10px;

}
.column {
  float: left;
  width: 50%;
  /* width: 25%; */
  padding: 10px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,.columnServices {
    width: 100%;
  }
}
.fa {
  padding: 25px;
  font-size: 50px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: black;
  color: white;
}
.fa-github{
  background: black;
  color: white;
}
.fa-envelope{
  background: black;
  color: white;
}




.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
#contact,
#footer {
  padding-top: 70px;
  width: 100%;
  font-size: 1.1em;
  bottom: 0;
}

#contact-body {
  padding-right: 0px;
  padding-left: 10%;
}

#contact-title h3 {
  padding-bottom: 24px;
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 0px;
  color: #052230;
}

.contact-text {
  font-size: 0.8em;
  margin-bottom: 15.75px;
}

/* Contact block effect */
.contact-outer-color-block {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 800px;
}

.contact-inner-color-block {
  width: 150%;
  height: 150%;
  background-color: #F5F2EF;
  /* background-color: rgb(255, 128, 0);  */
  position: absolute;
  left: -35px;
  -webkit-transform: rotate(-3deg);
}

.contact-form-block {
  padding: 0 !important;
  border-right: 1px solid rgba(0,0,0,.1);
}

.form-block {
  max-width: 585px;
}

/* Contact greeting */
.contact-greeting {
  align-items: center;
  padding-right: 0px;
}

/* Form */
.form-control {
  color: #052230;
  background-color: #fcfbfa;
  border-color: #b1b1b1;
}

.selector-and-message {
  position: relative;
}

#submit-btn {
  margin-top: 19.5px !important;
}

.first-name-box {
  margin-top: 10.5px !important;
}

.email-box {
  margin-bottom: 0px !important;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact icons */
.list-inline-item {
  margin-bottom: 0px;
}

#contact .fab {
  margin: 5px 15px;
  bottom: 0;
  color: #052230;
  position: relative;
  transition: all 0.25s ease-in-out;
}

#contact .fa-github-square:hover {
  color: #6e5494;
  bottom: 5px;
}

#contact .fa-google-drive:hover {
  color: #3d6ec9;
  bottom: 5px;
}

#contact .fa-linkedin:hover {
  color: #0077b5;
  bottom: 5px;
}
